
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: 'PixelOperator';
    src: url('./fonts/PixelOperator.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelOperator8';
    src: url('./fonts/PixelOperator8.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PixelOperator', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    letter-spacing: 0.10em;
}

button {
    display:flex;
    position: relative;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}


.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 2px solid #121212;
}


.nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.mobile-nav {
    display: none;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    padding: 1rem;
    box-shadow: 0 2px 5px #4f4f4f;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 3;
    min-width: 150px;
}

.dropdown-menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hamburger-button {
    display: none;
    align-self: center;
}

.hamburger-button img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    cursor: pointer;
}


.name {
    font-weight: bold;
    font-size: 2rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    display: block;
    width: 100px;
    height: 40px;
}

.about:hover {
    background-color: #dbebeb;
    border-radius: 10px;
}

.projects:hover {
    background-color: #cad598;
    border-radius: 10px;
}

.about, .projects {
    width: 100px;
    height: 38px;
    position: relative;
    letter-spacing: 0.05em;
}

.about img, .projects img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-text {
    font-family: 'PixelOperator', sans-serif;
    font-size: 1.2rem;
    position: absolute;
    align-self: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 300;
    pointer-events: none;
}

.about {
    margin-right: 40px;
}

.background-container {
    display: flex;
    /*border: 4px solid #000;*/

    width: 100%;
    height: 105vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    justify-content: center;
    background-image: url('./assets/background.jpg'); /*sky background*/
}

.background-section {
    display: flex;
    /*border: 5px solid #ececec;*/
    width: 70%;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 5px;
    padding-bottom: 10px;
}

.contact-container {
    display: flex;
    width: 100%;
    /*border: 5px solid #121212;*/
    background-image: url('./assets/contact4.png');
    background-repeat: no-repeat; 
    background-size: contain;
    align-items: center;
    gap: 25px;
    padding: 1rem;

}

.contact-container img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.contact-button {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button1 {
    background-image: url('./assets/github.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button2 {
    background-image: url('./assets/envelope.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button3 {
    background-image: url('./assets/linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.about-content {
    display: flex;

    height: 50%;
    background-image: url('./assets/aboutme3.png');
    background-repeat: no-repeat;
    /*background-size: 100% auto;*/
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    flex-direction: column;
    padding: 4rem;
    padding-top: 1.8rem;
    padding-bottom: 6rem;
    background-image: contain;

}

.about-content h2 {
    font-size:2rem;
    letter-spacing: 0.10em;
}


.about-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    height: 100%;
    /*border: 5px solid green;*/
    margin-top: 3px;
}

.about-item {
    display: flex;
    /*border: 2px solid blue;*/
    flex: 1;
}

.about-container img {
    height: auto;
    object-fit: cover;
    flex-shrink: 1;
    border-right: 8px solid #121212;
    border-bottom: 8px solid #121212;
    box-shadow: 5px 5px 0px 0px #4f4f4f;
}

.about-item:first-child {
    flex: 1; 
}

.about-item:last-child {
    flex: 2;
}

.about-container p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}


.background-animation {
    display: flex;
    /*border: 2px solid orange;*/
    width: 100%;
    height: 40%;
}

.chatbox {
    display: flex;
    /*border: 2px solid green; */
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: center;
    margin: 4px;
}

.chatbox-text {
    display: flex;
    position: relative;
    font-size: 10px;
    margin-top: 8%;
    width: 494px;
    height: 84px;
    background-attachment: scroll;
    background-size: cover;
    justify-content: center;
}

.animation {
    display: flex;
    /*border: 5px solid purple; */
    position: relative;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    object-fit: contain;

    margin-top: 5%;

}

.background-img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    min-height: 106px;
    z-index: 1;
}


/*typing animation*/
.text {
    display: inline-block;
    vertical-align: bottom;
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    z-index: 3;
  }
  
.text > span {
    display: grid;
    overflow: hidden;
    height: 3.2rem;
  }
  
.text span span {
    width: 0%;
    max-width: max-content;
    overflow: hidden;
    height: inherit;
    word-break: break-all;
    animation:
      c 1s infinite steps(1),  
      t 4s linear infinite alternate,
      m 24s steps(3) infinite;
}

.text span span:before {
    content: " ";
    display: inline-block;
}
  
@keyframes t{
    90%,100% {width:100%}
}
  
@keyframes c{
    0%,100%{box-shadow:5px 0 0 #0000}
    50%    {box-shadow:2px 0 0 #cad598 }
}
  
@keyframes m{
    100% {transform:translateY(-300%)}
}

.footer {
    border-top: 2px solid #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-text {
    width: 70%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4f4f4f;
}

/* screen size breakpoints */

@media (min-width: 2560px) {
    .name {
        font-size: 3rem;
    }

    .button-text {
        font-size: 2rem;
    }

   .contact-container {
        height: 120px;
        gap: 40px;
   }

   .contact-container img {
        width: 60px;
        height: 60px;
   }

   .contact-button {
        width: 50px;
        height: 50px;
   }

   .animation {
        margin-top: 12%;
    }
    


    .about,
    .projects {
        width: 150px;
        height: 60px;
    }

    .about-content {
        padding: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 8rem;
        margin-bottom: 10px;

    }

    .about-content h2 {
        font-size: 3rem;
    }


    .about-container p {
        font-size: 2.5rem;
    }

    .chatbox-text {
        width: 600px;
        height: 100px;
        margin-top: 12%;
    }

    .animation {
        transform: scale(1.4);
    }

    .text {
        font-size: 2.5rem;
        align-items: center;
    }
    .footer-text {
        font-size: 3rem;
    }
}


@media (min-width:1850px) {
    .name {
        font-size: 2.5rem;
    }

    .button-text {
        font-size: 1.6rem;
    }

   .contact-container {
        height: 100px;
        gap: 30px;
   }

   .contact-container img {
        width: 50px;
        height: 50px;
   }

   .contact-button {
        width: 50px;
        height: 50px;
   }

    .about,
    .projects {
        width: 110px;
        height: 40px;
        margin-bottom: 5px;
    }

    .about-content {
        padding: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 8rem;

    }

    .about-content h2 {
        font-size: 2.5rem;
    }


    .about-container p {
        font-size: 2rem;
    }

    .chatbox-text {
        width: 600px;
        height: 100px;
        margin-top: 10%;
        padding-bottom: 10px; /*actual text*/
    }

    .animation {
        margin-top: 10%;
        transform: scale(1.4);
    }
    

    .text {
        font-size: 2.5rem;

        align-items: center;
    }

    .footer-text {
        font-size: 2rem;
    }
    .background-section {
        padding-bottom: 10px;
    }
}
    

@media (max-width: 1500px) {
    .chatbox-text {
        transform: scale(1);
        margin-top: 13%;

    }

     .animation {
        transform: scale(1);
        margin-top: 8%;

     }
    
     .text {
          font-size: 2rem;
     }
     
     .contact-container {
        height: 70px;
        gap: 25px;
     }
     
     .contact-button {
        width: 30px;
        height: 30px;
     }

     .contact-container img {
        width: 35px;
        height: 35px;
     }

    .about-content{
        width: 100%;
        margin-bottom: 10px;

    }

    .chatbox-text {

        margin-top: 10%;
    }

     .about-content {
         padding: 2rem;
         padding-left: 4rem;
         padding-right: 4rem;
         padding-bottom: 6rem;
     }
 
     .about-content h2 {
         font-size: 2rem;
     }
 
 
     .about-container p {
         font-size: 1.5rem;
     }
     .about-content {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }

}


@media (max-width: 1250px) {
    .nav {
        width: 80%;
    }
    .background-section {
        width: 80%;
    }
    .footer-text {
        width: 80%;
    }

    .chatbox {
        transform: scale(0.9);
    }

    .about-container p {
        font-size: 1.2rem;
    }

    .name {
        font-size: 1.8rem;
    }

    .about-content h2 {
        font-size: 1.8rem;
    }
    .background-section {
        padding-bottom: 10px;
    }
    .about-content {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 1024px) {
    .chatbox {
        transform: scale(0.8);
    }

    .about-content {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }

    .footer-text {
        font-size: 1.3rem;
    }
}

@media (max-width: 1000px) {
    .chatbox {
        transform: scale(0.7);
        width: auto;

    }
    .animation {
        transform: scale(0.9);

    }

    .background-animation{
        justify-content: center;
    }

    .contact-container {
        height: 60px;
        gap: 20px;
    }

    .contact-button {
        width: 25px;
        height: 25px;
    }

    .about,
    .projects {
        width: 80px;
        height: 31px;
    }

    .about:hover {
        border-radius: 0px;
    }
    
    .projects:hover {
        border-radius: 0px;
    }

    .button-text {
        font-size: 1rem;
    }

    .about{
        margin-right: 20px;
    }

    .about-content {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }

}

@media (max-width: 950px) {
    .name {
        font-size: 1.5rem;
    }
    .about-content h2 {
        font-size: 1.5rem;
    }
    .contact-container {
        height: 60px;
        gap: 20px;
    }
    
    .contact-button {
        width: 25px;
        height: 25px;
    }

    .about-container p {
        font-size: 1.1rem;
    }

    .about-content {
        padding: 1rem;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        padding-bottom: 4.5rem;
    }

    .footer-text {
        font-size: 1.2rem;
    }

}

@media (max-width: 768px) {
    .name {
        font-size: 1.5rem;
    }
    .about-content h2 {
        font-size: 1.5rem;
    }
    .contact-container {
        height: 55px;
        gap: 16px;
    }
    
    .contact-button {
        width: 24px;
        height: 24px;
    }

    .about-container p {
        font-size: 1rem;
    }

    .about-container {
        gap: 20px;
    }

    .links {
        display:none;
    }

    .mobile-nav {
        display: block;
    }

    .hamburger-button {
        display: block;
        cursor: pointer;
    }

    .dropdown-menu button {
        width: 100%;
        margin: 5px 0;
        text-align: left;
    }

    .about{
        border-bottom: 1px solid #dfdfdf;
    }

}

@media (max-width: 700px) {
    .name {
        font-size: 1.2rem;
    }

    .links {
        display:none;
    }

    .about-content h2 {
        font-size: 1.2rem;
    }

    .about-container p {
        font-size: 1rem;
    }

    .about-content {
        padding: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 4rem;
    }

    .about-container{
        gap: 15px;
    }


    .chatbox {
        transform: scale(0.6);
    }

    .contact-container {
        height: 50px;
        gap: 15px;
    }

    .contact-button {
        width: 20px;
        height: 20px;
    }

    .contact-container img {
        width: 30px;
        height: 30px;
    }


}

@media (max-width: 665px) {
    .about-content h2 {
        font-size: 1.3rem;
    }

    .name {
        font-size: 1.3rem;
    }


    .about-content {
        padding: 2rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        padding-bottom: 3.2rem;
    }

    .contact-container {
        height: 45px;
        gap: 12px;
    }

    .contact-button {
        width: 18px;
        height: 18px;
    }

    .contact-container img {
        width: 25px;
        height: 25px;
    }

    .footer-text {
        font-size: 1rem;
    }

    .about-container{
        flex-direction: column;
    }

    .about-container img {
        display: none;
    }

    .about-container p {
        padding: 0;
        font-size: 1.2rem;
    }

    .about-content{
        border: 4px solid #121212;
        background-image: none;
        background: white;
        border-radius: 10px;
    }
}


@media (max-width: 600px){
    .chatbox {
        flex-direction: column;

        justify-content: center;
    }

    .chatbox-text {
        align-self: center;
        margin-top:20%;
    }

    .text {
        margin-top: 3%;
    }

    .about-content p {
        font-size: 1rem;
    }

    .animation {
        align-self: center;
        transform: scale(1);
    }


}

@media (max-width: 391px){
    .chatbox {
        flex-direction: column;
        transform: scale(0.5);
        justify-content: center;
    }

    .chatbox-text {
        align-self: center;
        margin-top:20%;
    }

    .text {
        align-self: center;
        font-size: 1.8rem;
    }

    .about-content h2 {
        font-size: 1.1rem;
    }

    .about-container p {
        font-size: 1rem;
    }



}