
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    letter-spacing: 0.15em;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}


.nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.name {
    font-weight: bold;
    font-size: 2rem;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: block;
    width: 100px;
    height: 40px;
}

button {
    display:flex;
    position: relative;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.about:hover {
    background-color: #dbebeb;
    border-radius: 10px;
}

.projects:hover {
    background-color: #cad598;
    border-radius: 10px;
}

.about, .projects {
    width: 100px;
    height: 40px;
    position: relative;
    letter-spacing: 0.05em;
}

.about img, .projects img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-text {
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 600;
    pointer-events: none;
}

.about {
    margin-right: 40px;
}

.background-container {
    display: flex;
    border: 4px solid #000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    justify-content: center;
    background-image: url('./assets/background.jpg');
}

.background-section {
    display: flex;
    border: 5px solid red;
    width: 60%;
    position: relative;
    justify-content: flex-end;
}


.background-animation {
    display: flex;
    border: 2px solid orange;
    height: 50%;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
}

.chatbox {
    display: flex;
    border: 2px solid green;
    flex-direction: row;
    width: 100%;
    height: 80%;
    position: relative;
    justify-content: center;

}

.chatbox-text {
    display: flex;
    position: relative;
    border: 2px solid blue;
    margin-top: 5%;
    width: 494px;
    height: 84px;
    background-attachment: scroll;
    justify-content: center;
}

.animation {
    display: flex;
    border: 5px solid purple;
    position: relative;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    object-fit: contain;
    align-self: flex-end;
}

.background-img {
    position: absolute;
    width: 100%;
    
    object-fit: cover;
    z-index: 1;
}



.line{
    
    position: absolute;
    top: 50%;  
    width: inline-block;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    z-index: 2;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 700ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11ch;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #cad598;}
  to{border-right-color: transparent;}
}