
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: 'DePixelSchmal';
    src: url('./fonts/DePixelSchmal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DePixelSchmal', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    letter-spacing: 0.10em;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}


.nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: block;
    width: 100px;
    height: 40px;
}

button {
    display:flex;
    position: relative;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}

.about:hover {
    background-color: #dbebeb;
    border-radius: 10px;
}

.projects:hover {
    background-color: #cad598;
    border-radius: 10px;
}

.about, .projects {
    width: 100px;
    height: 40px;
    position: relative;
    letter-spacing: 0.05em;
}

.about img, .projects img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-text {
    font-family: 'DePixelSchmal', sans-serif;
    position: absolute;
    align-self: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 300;
    pointer-events: none;
}

.about {
    margin-right: 40px;
}

.background-container {
    display: flex;
    border: 4px solid #000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    justify-content: center;
    background-image: url('./assets/background.jpg');
}

.background-section {
    display: flex;
    border: 5px solid #ececec;
    width: 60%;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;

}

.about-content {
    display: flex;
    border: 2px solid red;
    width: 100%;
    height: 50%;
    padding: 2rem;
    padding-left: 50px;
    background-image: url('./assets/aboutme.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.background-animation {
    display: flex;
    border: 2px solid orange;
    width: 100%;
    height: 50%;
    /*position: absolute;*/
    justify-content: flex-end;
}

.chatbox {
    display: flex;
    border: 2px solid green;
    flex-direction: row;
    width: 100%;
    height: 80%;
    position: relative;
    justify-content: center;

}

.chatbox-text {
    display: flex;
    position: relative;
    border: 2px solid blue;
    font-size: 10px;
    margin-top: 8%;
    width: 494px;
    height: 84px;
    background-attachment: scroll;
    justify-content: center;
}

.animation {
    display: flex;
    border: 5px solid purple; 
    position: relative;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    object-fit: contain;
    align-self: flex-end;
}

.background-img {
    position: absolute;
    width: 100%;
    
    object-fit: cover;
    z-index: 1;
}


/*typing animation*/
.text {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    z-index: 3;
  }
  
.text > span {
    display: grid;
    overflow: hidden;
    height: 1.6rem;
  }
  
.text span span {
    width: 0%;
    max-width: max-content;
    overflow: hidden;
    height: inherit;
    word-break: break-all;
    animation:
      c 1s infinite steps(1),  
      t 4s linear infinite alternate,
      m 24s steps(3) infinite;
}

.text span span:before {
    content: " ";
    display: inline-block;
}
  
@keyframes t{
    90%,100% {width:100%}
}
  
@keyframes c{
    0%,100%{box-shadow:5px 0 0 #0000}
    50%    {box-shadow:2px 0 0 #cad598 }
}
  
@keyframes m{
    100% {transform:translateY(-300%)}
}


